<% if @book.errors.any? %>
    <div class="alert alert-danger">
        <h5><%= t('common.errors')%></h5>
        <ul>
            <% @book.errors.full_messages.each do |message|  %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end%>

<%= form_for @book do |f| %>
<div class ="container">
        <div class = "form-group">
            <%= f.label :title%>
            <%= f.text_field :title,class: "form-control"%>
        </div>

        <div class = "form-group">
            <%= f.label :author%>
            <%= f.text_field :author,class: "form-control"%>
        </div>

        <div class = "form-group">
            <%= f.label :summery%>
            <%= f.text_area :summery,class: "form-control"%>
        </div>

        <div class = "form-group">
            <%= f.label :body%>
            <%= f.text_area :body, class: "form-control"%>
        </div>

        <div class = "form-group">
            <%= f.label :all_tags%>
            <%= f.text_field :all_tags, class: "form-control"%>
        </div>
    <div class = "form-group">
        <%= f.submit 'Save' %>
    </div>

</div>
<% end %>