
    <div> 
        <h1 class="text-center"><%= @book.title %></h1>
        <p><%= @book.likes.count %> <%= (@book.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <% if user_signed_in?%>
            <div class="text-center">
            <% pre_like = @book.likes.find { |like| like.user_id == current_user.id} %>
            
                <% if pre_like %>
                    
                    <%= link_to book_likes_path(@book), method: :delete, class: ' btn btn-dark btn-xs pull-right' do %>
                     
                     <i class="fas fa-heart-broken"></i> Unlike

                    <% end %>

                
                <% else %>
    
                    <%= link_to book_likes_path(@book), method: :book, class: 'btn btn-danger btn-xs pull-right' do %>
                    
                   <i class="far fa-heart"></i> Like

                    <% end %>
                
                <% end %>

            <% if current_user.id == @book.user_id %>
            
                <%= link_to 'Continue writing',edit_book_path(@book) %> |
                <%= link_to 'Delete',book_path(@book),method: :delete, data:{confirm: 'Are you sure?'} %>
            <% end %>

            </div>
        <% end %>

        <p class=" text-center"><%= raw @book.body %></p>
        <%= render 'disqus'%>

    </div>
