<!DOCTYPE html>
<html>
	<head>
		<title>BookBlog</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div class ="page_content">
			<div class ="head_container">
				<img src="<%= asset_path( 'logo.png' ) %>" class="head_logo" alt="...">
						<div class= "align-items-center head_text ">anna read?</div>
						<img src="<%= asset_path( 'header.jpg' ) %>" class="d-block w-100" alt="...">
						<div class="content">
							<nav class="navbar   ">
								<ul class="nav nav-tabs">
									<li class="nav-item">
										<a class="nav-link active" href="<%=books_path %>">All Books
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="<%=new_book_path %>">New Book
										</a>
									</li><% if user_signed_in? %>
									<li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"%>
									</li>
									<li class="nav-item"><%= link_to "My books", user_books_path, class: "nav-link"%>
									</li><% else %>
									<li class="nav-item"><%= link_to "Log in", new_user_session_path, class: "nav-link"%>
									</li>
									<li class="nav-item"><%= link_to "Register", new_user_registration_path, class: "nav-link"%>
									</li><% end %>
								</ul>

							</nav>

						</div>

			</div>
				
				
			<div class="col-md-8 mx-auto mt-2">
				<% flash.each do |name, message| %>
					<div class="alert <%= bootstrap_class_for(name) %>">
						<button class="close" data-dismiss="alert">&times;</button>
						<%= message %>
					</div>
				<% end %>
			</div>
				<div class=" container-fluid">
							<%= yield %>
					</div>

				</div>
				
		</div>
	</body>
</html>