<!DOCTYPE html>
<html>
  <head>
    <title>BookBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class ="head_container">
    <img src="<%= asset_path( 'logo.png' ) %>" class="head_logo" alt="...">
    <div class= "align-items-center head_text ">anna read?</div>
    <img src="<%= asset_path( 'header.jpg' ) %>" class="d-block w-100" alt="...">
      <div class="content">
            <nav class="navbar   ">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="<%=books_path %>">All Books</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%=new_book_path %>">New Book</a>
                </li>
                <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"%>
                </li>
                <% else %>
                <li class="nav-item">
                  <%= link_to "Log in", new_user_session_path, class: "nav-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to "Register", new_user_registration_path, class: "nav-link"%>
                </li>
                <% end %>
              </ul>
            </nav>
      </div>
    </div>
    <div class= 'container main'>
      <div class = 'row'>
        <div class = col-md-12>
          <%= flash.each do |name,message| %>
            <div class =' alert alert-<%= bootstrap_class_for(name) %>'>
              <button class="close" data-dismiss="alert">///</button>
              <%= message %>
               <% end %>
            </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class = 'col-md-4'>
      <% tag_list (Tag.counts, %w{tag}) do |tag, css_class| %>
     <%= link_to tag.name, tag_path(tag.name), class: css_class%>
     <div>
  </body>
</html>
